/* CSS declarations go here */
.bar {
    width: 100%;
    height: 11px;
    background-color: #3273dc;
}
.u_green {
    background: #10a644 !important;
    border: none !important;
    color: #fafafa !important;
}

.u_green::placeholder {
    color: #fafafa !important;
}

.c_label {
    color: #fafafa !important;
}
.cursor .tag {
  cursor: pointer;
}
