<template name="users__all">
<section class="section">
    <div class="container">
    {{#each all_users }}
        <div class="column is-3" style="float: left;">
            <a href="/u/v/{{_id}}"><div class="box">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <i class="fa fa-user-o" style="font-size: 56px;" aria-hidden="true"></i>
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>{{firstName}} {{lastName}}</strong> <small>{{role}}</small>
                                <br>
                                <span class="tag is-primary">{{booksOut}} Books Out</span>
                            </p>
                        </div>
                    </div>
                </article>
            </div></a>
            </div>
        {{else}}
        <div class="column">
            <p>There are no users in the system currently.</p>
        </div>
            {{/each}}
        </div>
</section>
</template>
