<!-- Detail view for General Users -->
<template name="user_detail">
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {{firstName}} {{lastName}}
                </h1>
                <h2 class="subtitle">
                    {{role}}
                </h2>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-3">
                    <h2 class="title is-5">User Overview</h2>
                    <p>
                        <strong>Name</strong> {{ firstName }} {{lastName}}
                        <br />
                        <strong>Role</strong> {{role}}
                        <br />
                        <strong>Books Out</strong> {{booksOut}}
                        <br />
                        <strong>Fines</strong> ${{fines}}
                    </p>
                </div>
                <div class="column is-8">
                    <h2 class="title is-5">Open Rentals</h2>
                    <ul>
                        {{#each user_rentals}}
                            <li><a href="/r/{{_id}}">{{ book_name }} / {{date}}</a></li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <hr/>
            <div class="columns">
                <div class="column">
                  <div class="tags cursor">
                    <span class="tag is-success admin-editName">Edit Name</span>
                    <span class="tag is-warning admin-clearFines">Clear Fines</span>
                    <span class="tag is-danger admin-delU">Delete User</span>
                  </div>
                </div>
            </div>
            <div class="field has-addons">
            <div class="control">
              <input class="input" type="number" name="fineAmt" placeholder="Enter Fine Amount">
            </div>
            <div class="control">
              <a class="button is-danger fine">
                Fine {{firstName}}
              </a>
            </div>
          </div>
            <div class="edit-username"></div>
        </div>

    </section>
    <script>
      $('.admin-editName').click(function() {
        $('.edit-username').show();
        $('.edit-username').html('<div class="field has-addons"><div class="control"><input class="input" name="newFname" type="text" placeholder="First"></div><div class="control"><input class="input" name="newLname" type="text" placeholder="Last" /></div><div class="control"><a class="button is-success is-submit">Change Name</a></div></div>');
        $('.is-submit').click(function() {
          $('.edit-username').hide();
        })
      });
    </script>
</template>
