<template name="new_user">
  <section class="hero is-info is-bold">
              <div class="hero-body">
                  <div class="container is-widescreen">
                      <h1 class="title">
                         Create a New User
                      </h1>
                      <h2 class="subtitle">
                        Only assign Librarian to those who should have administrative rights to this UI,
                      </h2>
                  </div>
              </div>
          </section>
        {{> register}}
</template>
