<template name="base">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Library Tracking Manager</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.0/css/bulma.min.css">
        <link rel="icon" href="favicon.ico" type="image/x-icon" />

    </head>
    <body>
        {{#if currentUser }}
<div class="bar"></div>
<nav class="navbar is-transparent container">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <h1 style="font-weight: 700;" >BookTrack</h1>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="/u">
          Users
        </a>
        <div class="navbar-dropdown is-boxed">
          <a href="/u/add" class="navbar-item">
            New User
          </a>
          <a class="navbar-item">
            Modify User
          </a>
          <div class="navbar-divider">

          </div>
          <div class="navbar-item">
            <div>
              <p class="is-size-6-desktop">
                Total Users:<strong class="has-text-info"> {{user__count}}</strong>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar-item">
        <a href="/b">
          Books
        </a>
      </div>
      <div class="navbar-item">
        <a href="/reports/weekly">
          Reports
        </a>
      </div>
</div>


    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Me
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item " href="/settings">
            Settings
          </a>

          <hr class="navbar-divider">
          <div class="navbar-item">
            <div>
              <p class="is-size-6-desktop">
                Build <strong class="has-text-info">1.0</strong>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar-item">
        <a class="button is-danger logout">Logout</a>
      </div>
    </div>

</div>
</nav>
{{> yield }}
{{ else }}
<section class="hero is-info is-bold">
            <div class="hero-body">
                <div class="container is-widescreen">
                    <h1 class="title">
                       Login to Access Dashboard
                    </h1>
                </div>
            </div>
        </section>
<section class="section">
  <div class="container">
    <div class="column is-offset-4 is-4">
      <form class="login">
        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="input email" type="email" name="email" placeholder="jon@doe.com">
          </div>
          <p class="help">Enter your email. Must be authorized staff.</p>
        </div>
        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input class="input password" type="password" name="password" placeholder="abc123">
          </div>
          <p class="help">If you forgot your password <a href="#" title="Forgot Password">click here</a>.</p>
        </div>
        <button class="button is-info" style="width:100%;" type="submit" >Login</button>
      </form>
    </div>
  </div>
</section>
        {{/if}}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </body>
</template>
