<template name="dashboard">
<!-- here you can check out a book to a user by looking for usr then renting out a book to them -->

    <section class="section" >
        <div class="container">
            <div class="tile is-ancestor">
                <div class="tile is-vertical is-12">
                    <div class="tile">
                        <div class="tile is-parent is-vertical">
                            <article class="tile is-child notification is-primary">
                                <p class="title">Overview</p>
                                <p><strong>Total Books</strong> {{book__count}}</p>
                                <p><strong>Total Users</strong> {{user__count}}</p>
                            </article>
                            <article class="tile is-child notification is-warning">
                                <p class="title">Fines</p>
                                <p class="subtitle">There are {{user__fines}} students with unpaid fines.</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child notification is-info">
                                <p class="title">Recent Rentals</p>
                                <ul>
                                    {{#each recent_rentals}}
                                    <li><a href="/r/{{_id}}">{{book_name}} - <span id="momDate{{_id}}"> </span><script>$('#momDate{{_id}}').html(moment("{{momentDate}}", "YYYYMMDDhhmma").fromNow()) </script></a></li>
                                    {{else}}
                                    Nobody has rented a book recently :(
                                    {{/each}}
                                </ul>

                            </article>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child notification is-danger">
                            <p class="title">Need Help?</p>
                            <p class="subtitle">Read the FAQ here!</p>
                            <div class="content">
                               <a href="/faq/rent_book">Renting a Book Out</a> \ <a href="/faq/teacher_vs_student">Diffrence Between Teacher & Student</a>
                            </div>
                        </article>
                    </div>
                </div>
              
            </div>
        </div>
    </section>
</template>
