<template name="dashboard">
<!-- here you can check out a book to a user by looking for usr then renting out a book to them -->

    <section class="section">
        <div class="container">
            <div class="tile is-ancestor">
                <div class="tile is-vertical is-8">
                    <div class="tile">
                        <div class="tile is-parent is-vertical">
                            <article class="tile is-child notification is-primary">
                                <p class="title">Counts</p>
                                <p><strong>Total Books</strong> {{book__count}}</p>
                                <p><strong>Total Users</strong> {{user__count}}</p>
                            </article>
                            <article class="tile is-child notification is-warning">
                                <p class="title">Fines</p>
                                <p class="subtitle">There are {{user__fines}} students with unpaid fines.</p>
                                <p><a>Student Fines Report</a></p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child notification is-info">
                                <p class="title">Recent Rentals</p>
                                <ul>
                                    {{#each recent_rentals}}
                                    <li><a href="/r/{{_id}}">{{book_name}}</a></li>
                                    {{else}}
                                    Nobody has rented a book recently :(
                                    {{/each}}
                                </ul>

                            </article>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child notification is-danger">
                            <p class="title">Need Help?</p>
                            <p class="subtitle">Read the FAQ here!</p>
                            <div class="content">
                               <a>Renting a Book Out</a> \ <a>Diffrence Between Teacher & Student</a> \ <a>How to use the Quick Rental Feature</a>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification is-success">
                        <div class="content">
                            <p class="title">Quck Rent</p>
                            <p class="subtitle">Enter the User and Book to quick rent. (barcode scanner)</p>
                            <div class="content">
                                <form>
                                    <div class="field">
                                        <label class="label c_label">Scan Student ID</label>
                                        <div class="control">
                                            <input class="input u_green" type="text" placeholder="sx4Jie9kXShEQ5k44">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label c_label">Scan Book ID</label>
                                        <div class="control">
                                            <input class="input u_green" type="text" placeholder="jf6csxjoazZusdfaS">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="control">
                                            <button type="submit" style="width: 100%;" class="button is-inverted is-outlined">Rent</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
</template>
