<template name="stvste">
    <section class="hero is-dark">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Teachers VS Students
                </h1>
                <h2 class="subtitle">
                    Book counts.
                </h2>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <p>The primary diffrence between Teachers and Students is the amount of books they can rent and the length of the rental. While students can only rent a book for 30 days and a max of 6 books, teachers can rent upto 200 books for a length of 180 days.</p>
        </div>
    </section>
</template>
<template name="rent_book">
    <section class="hero is-dark">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Renting a Book
                </h1>
                <h2 class="subtitle">
                    Quick rentals aswell as the detailed way to rent a book.
                </h2>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <p>You can rent a book to a student or teacher by going to the <a href="/b">books</a> page and click on the book you want to rent to the student. You can do this by clicking on the featured books or searching for the book. After you click on the book you will see the ability to search for the user you wish to rent the book out to. After this click the green rent tag. After that you will be redirected to the rental confirmation page.</p>
            <br/>
            <p>The Second way to rent a book to the user is by inserting the Book ID and Student ID to the Quick Rent section of the dashboard. It will find the infomation and create the rental.</p>
        </div>
    </section>
</template>