<template name="reports">
    <section class="section">
        <div class="container">
            <h1 class="title">Reports</h1>
            <h2 class="subtitle">Click on a report to generate it.</h2>
            <ul>
                <li><a href="" target="_blank" title="Weekly Summary">Weekly Summary (books rented, most popular book, etc)</a></li>
                <li><a href="" target="_blank" title="Fines Report">Fines Report (students who have excedded their rent time.)</a></li>
            </ul>
        </div>
    </section>
</template>
<template name="report-layout">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Library Tracking Manager</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.0/css/bulma.min.css">
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js" type="text/javascript"></script>

    </head>
    <body>

        {{> yield }}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </body>
</template>
<template name="reports_weekly">
    <section class="section">
        <div class="container">
            <h1 class="title is-4">BookTrack - Student Report</h1>
            <div class="columns">
                <div class="column is-4">
                  <h3 class="subtitle">Late Book Returns</h3>
                  {{#each books_out }}
                      <ul>
                        <li><a href="/r/{{_id}}">{{name}} \\ {{ book_name }} <span class="tag" id="momDate{{_id}}"> </span><script>$('#momDate{{_id}}').html(moment("{{momentDate}}", "YYYYMMDDhhmma").fromNow()) </script></a></li>
                      </ul>
                  {{/each}}
                </div>
                <div class="column is-8">
                    <p class="subtitle">Book Sales Over Last Week</p>
                    <canvas id="myChart"></canvas>

                    <script>
       setTimeout(
           function prepChart() {
               var ctx = document.getElementById("myChart").getContext('2d');
               var myChart = new Chart(ctx, {
                   type: 'bar',
                   data: {
                       labels: ["Seven Days Ago", "Six Days Ago", "Five Days Ago", "Four Days Ago", "Three Days Ago", "Two Days Ago", "Yesterday"],
                       datasets: [{
                           label: '# of Votes',
                           data: [{{books_daySix}}, {{books_dayFive}}, {{books_dayFour}}, {{books_dayThree}}, {{books_dayTwo}}, {{books_dayOne}}, {{books_dayZero}}],
                           backgroundColor: [
                               'rgba(255, 99, 132, 0.2)',
                               'rgba(54, 162, 235, 0.2)',
                               'rgba(255, 206, 86, 0.2)',
                               'rgba(75, 192, 192, 0.2)',
                               'rgba(153, 102, 255, 0.2)',
                               'rgba(255, 159, 64, 0.2)',
                               'rgba(255, 87, 32, 0.2)'
                           ],
                           borderColor: [
                               'rgba(255,99,132,1)',
                               'rgba(54, 162, 235, 1)',
                               'rgba(255, 206, 86, 1)',
                               'rgba(75, 192, 192, 1)',
                               'rgba(153, 102, 255, 1)',
                               'rgba(255, 159, 64, 1)',
                               'rgba(255, 87, 32, 1)'
                           ],
                           borderWidth: 1
                       }]
                   },
                   options: {
                       scales: {
                           yAxes: [{
                               ticks: {
                                   beginAtZero: true
                               }
                           }]
                       }
                   }
               });
           }, 1000);

       prepChart();
   </script>



                </div>

            </div>
        </div>
    </section>
</template>
