<template name="book_detail">
    <section class="hero is-medium" style="background-image: url('/book_header.png'); background-size: cover;">
        <div class="hero-body">
            <div class="container">
                <h1 class="title has-text-white">
                    {{title}}
                </h1>
                <h2 class="subtitle has-text-white">
                    {{author}}
                </h2>
            </div>
        </div>
    </section>
    <section class="section">
         <div class="container">
             <p class="title is-6">Stock Left <span class="tag is-primary">{{stock}}</span></p>
             <div class="columns">
                 <div class="column is-3">
                     <img src="{{cover}}" alt="{{title}}" style="width: 80%;" />
                 </div>
                 <div class="column is-6">
                     <p>{{description}}</p>
                     <br/>
                     <div>
                         <h2 class="title is-4">Rent to a student...</h2>
                     </div>
                 </div>
             </div>
         </div>
    </section>
</template>