<template name="new_admin_user">
  <section class="hero is-info is-bold">
              <div class="hero-body">
                  <div class="container is-widescreen">
                      <h1 class="title">
                         Create a New User
                      </h1>
                      <h2 class="subtitle">
                        This is for creating new accounts for this application. See <a href="/u/new" class="is-info" >this page</a> for creating new students or faculity.
                      </h2>
                  </div>
              </div>
          </section>
        {{> register}}
</template>
