<template name="register">
  <section class="section">
    <div class="container">
      <form class="register">
        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="input" type="email" name="email" placeholder="jon@doe.com" >
          </div>
          <p class="help">Enter your email. Must be authorized staff.</p>
        </div>
        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input class="input" type="password" name="password" placeholder="abc123" >
          </div>
          <p class="help">Your password should be a difficult prase only you know.</p>
        </div>
        <div class="field">
          <label class="label">Repeat Password</label>
          <div class="control">
            <input class="input" type="password" name="passwordConfirmation" placeholder="abc123" >
          </div>
          <p class="help">Just to make sure you typed it right.</p>
        </div>
        <button class="button is-info" width="100%" type="submit" >Register</button>
      </form>
    </div>
  </section>
</template>
