<template name="book_stock">
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Stock Alerts
                </h1>
                <h2 class="subtitle">
                    Here are all the books for which you are low on inventory.
                </h2>
            </div>
        </div>
        <div class="hero-foot">
            <nav class="tabs is-boxed is-fullwidth">
                <div class="container">
                    <ul>
                        <li><a href="/b">View Books</a></li>
                        <li><a href="/b/add">Add Book</a></li>
                        <li class="is-active"><a href="/b/stock">Stock Alerts</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h2 class="title is-4">Books Low Stock</h2>

            {{#each book_stock }}
            <div class="column is-3" style="float: left;">
                <div class="card" onclick="location.replace('/b/{{_id}}');" style="cursor: pointer;">
                    <div class="card-image" style="background-image: url('{{cover}}');background-size: cover;background-position: center; ">
                        <figure class="image is-2by1">

                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-5">{{title}}</p>
                                <p class="subtitle is-6">{{author}} left</p>
                            </div>
                        </div>

                        <div class="content">
                            <span class="tag is-danger is-medium">{{stock}} Books Left</span>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </section>
</template>